<script setup lang="ts">
import { ref } from "vue";
import { RouterView } from "vue-router";
import {
  mdiTableFurniture,
  mdiTableChair,
  mdiCart,
  mdiTrainCarFlatbed,
  mdiDoorSlidingOpen,
} from "@mdi/js";
</script>

<template>
  <v-app>
    <v-card
      width="100%"
      height="400px"
      style="
        background-image: url('https://images5.alphacoders.com/462/thumb-1920-462280.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      "
    >
    </v-card>
    <v-icon
      :icon="mdiTrainCarFlatbed"
      size="x-large"
      style="
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 10%;
        height: 200px;
      "
      color="orange"
    ></v-icon>
    <v-container>
      <v-row>
        <v-col v-for="i in 5" :key="i">
          <v-btn
            :prepend-icon="mdiTableChair"
            variant="text"
            size="100"
            to="shop-view"
          >
            A{{ i }}</v-btn
          >
        </v-col></v-row
      >
      <v-row>
        <v-col v-for="i in 5" :key="i">
          <v-btn :prepend-icon="mdiTableChair" variant="text" size="100">
            B{{ i }}</v-btn
          >
        </v-col></v-row
      >
    </v-container>

    <v-row>
      <v-col cols="3" class="bg-orange" style="height: 50px; margin-left: 6%">
        <h4 style="text-align: center">BAR</h4></v-col
      >
      <v-col>
        <v-icon
          :icon="mdiDoorSlidingOpen"
          style="width: 50%; height: 40px"
          color="orange"
        ></v-icon> </v-col
    ></v-row>

    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>
