<script setup lang="ts">
import { ref } from "vue";
import { RouterView } from "vue-router";
import { useCartStore } from "../stores/cart";
import { useProductStore } from "../stores/product";
import { mdiCartArrowDown } from "@mdi/js";
const useCart = useCartStore();
const useProduct = useProductStore();
</script>

<template>
  <v-app>
    <v-card
      width="100%"
      height="400px"
      style="
        background-image: url('https://cdn.shopify.com/s/files/1/0499/7660/6874/articles/061022---Get-Familiar-with-Different-Types-of-Whisky.jpg?v=1667363014');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      "
    >
    </v-card>
    <v-main>
      <h1
        style="
          font-size: 200px;
          text-align: center;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        "
      >
        Whiskey
      </h1>

      <v-container style="margin-top: 1cm; padding: 30px">
        <v-row>
          <v-col
            v-for="(item, index) in useProduct.whiskey"
            :key="index"
            cols="12"
            md="4"
          >
            <v-card class="mx-auto" max-width="400" height="480px">
              <v-img
                class="align-end text-white"
                height="300"
                :src="item.image"
              ></v-img>
              <v-card-subtitle class="pt-4">{{
                item.subtitle
              }}</v-card-subtitle>
              <v-card-text>
                <div>{{ item.name }}</div>
                <div></div>
                <br />
                <div style="font-size: 17px">{{ "฿ " + item.price }}</div>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  color="orange"
                  :prepend-icon="mdiCartArrowDown"
                  @click="useCart.addToCart(item)"
                >
                  ADD
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>

      <router-view></router-view>
    </v-main>
  </v-app>
</template>
